body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: url('../img/egg_shell.png');
}

#header {
  height: 100px;
  width: 50%;
  padding-top: 60px;
  padding-left: 60px;
  margin: 20px;
}

#header h1 {
  color: #eee;
  text-shadow: 1px 1px 2px #555, 0 0 50px rgba(100, 100, 100, 0.6);
  font-size: 50px;
  font-weight: bold;
  margin: 0;
}

#header p {
  color: #666;
  margin: -10px 110px;
  text-shadow: 1px 1px 1px white, 0 0 5px #bbb;
}

#main-container {
  padding: 0 80px;
}

#main-container .column {
  float: left;
  width: 400px;
}

#main-container h2 {
  margin-left: 20px;
  color: #222;
  font-size: 18px;
}

#main-container .column a {
  color: #666;
  text-decoration: none;
  border-left: solid 5px #888;
  padding-left: 10px;
  cursor: pointer;
}

#main-container .column a:hover {
  color: #333;
  border-left: solid 5px #333;
}

ul {
  list-style-type: none;
}

li {
  margin: 5px auto;
}

#demo-area {
  display: none;
  border: solid 8px #333;
  box-shadow: 0 0 15px #333;
}

#demo-area-close {
  background: url('../img/close.png');
}
