body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #99ccff;
}

#header {
  height: 80px;
  background-color: #0066ff;
  border-bottom: solid 5px #333366;
}

#header h1 {
  color: #99ccff;
  text-shadow: 1px 0 1px black;
  margin: 0;
  padding: 20px;
}

#main-container {
  background-color: #99ccff;
}

#main-container h2 {
  margin-left: 20px;
  color: #000033;
  font-size: 18px;
}

a {
  color: #333399;
  text-decoration: none;
  border-left: solid 5px #333399;
  padding-left: 10px;
}

a:hover {
  color: #333333;
  border-left: solid 5px #333333;
}

ul {
  list-style-type: none;
}

li {
  margin: 5px auto;
}
